---
import paralax1 from '~/assets/images/paralax/bg-piramid.png';
import paralax2 from '~/assets/images/paralax/tr-bl3-col-left.png';
import paralax3 from '~/assets/images/paralax/tr-bl3-fon-left.png';
import paralax4 from '~/assets/images/paralax/tr-bl3-w-left-bg.png';
import paralax5 from '~/assets/images/paralax/tr-bl3-col-right.png';
import paralax6 from '~/assets/images/paralax/tr-bl3-fon-right.png';
import paralax7 from '~/assets/images/paralax/tr-bl3-w-right-bg.png';

import type { Widget as Props } from '~/types';

const {
  classes = {},
} = Astro.props;
---

<Fragment>
  <div class="top-[840px] z-[9] h-[1000px] [background:var(--pragma-paralax-1)_0_0_repeat] parallax top" data-velocity="-.1"
    style={`--pragma-paralax-1:url(${paralax1.src})`}
  ></div>
  <div class="top-[700px] z-[12] h-[800px] [background:var(--pragma-paralax-2)_top_center_no-repeat] parallax top" data-velocity="-.5"
    style={`--pragma-paralax-2:url(${paralax2.src})`}
  ></div>
  <div class="top-[900px] z-[11] h-[800px] [background:var(--pragma-paralax-3)_top_center_no-repeat] parallax top" data-velocity="-.7"
    style={`--pragma-paralax-3:url(${paralax3.src})`}
  ></div>
  <div class="top-[800px] z-[10] h-[800px] [background:var(--pragma-paralax-4)_top_center_no-repeat] parallax top" data-velocity="-.9"
    style={`--pragma-paralax-4:url(${paralax4.src})`}
  ></div>
  <div class="top-[550px] z-[15] h-[800px] [background:var(--pragma-paralax-5)_top_center_no-repeat] parallax top" data-velocity="-.5"
    style={`--pragma-paralax-5:url(${paralax5.src})`}
  ></div>
  <div class="top-[850px] z-[14] h-[800px] [background:var(--pragma-paralax-6)_top_center_no-repeat] parallax top" data-velocity="-.7"
    style={`--pragma-paralax-6:url(${paralax6.src})`}
  ></div>
  <div class="top-[600px] z-[13] h-[800px] [background:var(--pragma-paralax-7)_top_center_no-repeat] parallax top" data-velocity="-.9"
    style={`--pragma-paralax-7:url(${paralax7.src})`}
  ></div>
</Fragment>
<style is:global>
  .paralax-container {
    position: relative;
    overflow: hidden;
    z-index: 8;
  }
  .paralax-items {
    z-index: 16;
    position: relative;
  }
  .parallax {
    pointer-events: none;
    position: absolute;
    display: block;
    width: 100%
  }
</style>
<script>
  function initParallax() {
    const parallaxElements = document.querySelectorAll('.parallax');
    const speed = 5;

    window.addEventListener('scroll', () => {
      parallaxElements.forEach((element) => {
        const scrollTop = window.scrollY;
        const elementTop = element.getBoundingClientRect().top;
        const velocity = parseFloat((element as HTMLElement).dataset?.velocity || '') || 0;

        const translateY = (scrollTop - elementTop) * velocity / speed;

        (element as HTMLElement).style.transform = `translateY(${translateY}px)`;
      });
    });
  }

  function onLoad() {
    initParallax();
  }

  document.addEventListener('astro:page-load', () => {
    onLoad();
  });
</script>
