---
import type { Widget } from '~/types';
import paralax1 from '~/assets/images/paralax/bg-piramid.png';
import paralax2 from '~/assets/images/paralax/tr-bl3-col-left.png';
import paralax3 from '~/assets/images/paralax/tr-bl3-fon-left.png';
import paralax4 from '~/assets/images/paralax/tr-bl3-w-left-bg.png';
import paralax5 from '~/assets/images/paralax/tr-bl3-col-right.png';
import paralax6 from '~/assets/images/paralax/tr-bl3-fon-right.png';
import paralax7 from '~/assets/images/paralax/tr-bl3-w-right-bg.png';

import paralax23 from '~/assets/images/paralax/tr-bl4-col-left.png';
import paralax24 from '~/assets/images/paralax/tr-bl4-fon-left.png';
import paralax26 from '~/assets/images/paralax/tr-bl4-col-right.png';
import paralax27 from '~/assets/images/paralax/tr-bl4-fon-right.png';

import paralax53 from '~/assets/images/paralax/tr-bl5-col-left.png';
import paralax54 from '~/assets/images/paralax/tr-bl5-fon-left.png';
import paralax56 from '~/assets/images/paralax/tr-bl5-col-right.png';
import paralax57 from '~/assets/images/paralax/tr-bl5-fon-right.png';

import paralax63 from '~/assets/images/paralax/tr-bl6-col-left.png';
import paralax64 from '~/assets/images/paralax/tr-bl6-fon-left.png';
import paralax66 from '~/assets/images/paralax/tr-bl6-col-right.png';
import paralax67 from '~/assets/images/paralax/tr-bl6-fon-right.png';

interface Props extends Widget {
  variant?: 'sky'|'orange'|'red'|'blue'|'custom';
}

const {
  classes = {},
  variant = 'sky',
} = Astro.props;

const variants = {
  'sky': [paralax1, paralax2, paralax3, paralax4, paralax5, paralax6, paralax7],
  'orange': [paralax1, paralax23, paralax24, paralax4, paralax26, paralax27, paralax7],
  'red': [paralax1, paralax53, paralax54, paralax4, paralax56, paralax57, paralax7],
  'blue': [paralax1, paralax63, paralax64, paralax4, paralax66, paralax67, paralax7],
}
const current = variant !== 'custom' ? variants[variant] : [];
---

<div class="parallax hidden md:block">
  {
    variant !== 'custom' ? (
      <Fragment>
        <div class="top-[840px] z-[9] h-full [background:var(--pragma-paralax-1)_0_0_repeat]" data-velocity="-.1"
          style={`--pragma-paralax-1:url(${current[0].src})`}
        ></div>
        <div class="top-[700px] z-[12] h-[800px] [background:var(--pragma-paralax-2)_top_center_no-repeat]" data-velocity="-.5"
          style={`--pragma-paralax-2:url(${current[1].src})`}
        ></div>
        <div class="top-[900px] z-[11] h-[800px] [background:var(--pragma-paralax-3)_top_center_no-repeat]" data-velocity="-.7"
          style={`--pragma-paralax-3:url(${current[2].src})`}
        ></div>
        <div class="top-[800px] z-[10] h-[800px] [background:var(--pragma-paralax-4)_top_center_no-repeat]" data-velocity="-.9"
          style={`--pragma-paralax-4:url(${current[3].src})`}
        ></div>
        <div class="top-[550px] z-[15] h-[800px] [background:var(--pragma-paralax-5)_top_center_no-repeat]" data-velocity="-.5"
          style={`--pragma-paralax-5:url(${current[4].src})`}
        ></div>
        <div class="top-[850px] z-[14] h-[800px] [background:var(--pragma-paralax-6)_top_center_no-repeat]" data-velocity="-.7"
          style={`--pragma-paralax-6:url(${current[5].src})`}
        ></div>
        <div class="top-[600px] z-[13] h-[800px] [background:var(--pragma-paralax-7)_top_center_no-repeat]" data-velocity="-.9"
          style={`--pragma-paralax-7:url(${current[6].src})`}
        ></div>
      </Fragment>
    ) : (<slot />)
  }
</div>
<style is:global>
  .paralax-container {
    position: relative;
    overflow: hidden;
    z-index: 8;
  }
  .paralax-items {
    z-index: 16;
    position: relative;
  }
  .parallax > * {
    pointer-events: none;
    position: absolute;
    display: block;
    width: 100%
  }
</style>
<script>
  function initParallax() {
    const parallaxElements = document.querySelectorAll('.parallax>*');
    const speed = 2.5;

    const animate = () => {
      parallaxElements.forEach((element) => {
        const rect = element.getBoundingClientRect();
        const topEntered = rect.top > window.innerHeight;
        const bottomExited = rect.bottom < 0;

        if(!topEntered || !bottomExited) {
          const velocity = parseFloat((element as HTMLElement).dataset?.velocity || '') || 0;

          const translateY = (window.innerHeight - rect.top) * velocity / speed;

          (element as HTMLElement).style.transform = `translateY(${translateY}px)`;
        }
      });
    }
  
    window.addEventListener('scroll', () => {
      requestAnimationFrame(animate);
    });

    requestAnimationFrame(animate);
  }

  function onLoad() {
    initParallax();
  }

  document.addEventListener('astro:page-load', () => {
    onLoad();
  });
</script>
