---
import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Widget, Item } from '~/types';

interface Props extends Widget {
  offers1?: string[],
  offers2?: string[],
}

import paperTurtle from '~/assets/images/main/01_main_che.png';
import paperBird from '~/assets/images/main/01_main_b.png';

const {
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),

  offers1=[
    "Cutting-edge technologies", 
    "Great experience in developing commercially successful projects",
  ],
  offers2=[
    "Exceptional quality", 
    "Wide range of services",
    "Individual approach<br />&amp; fresh ideas",
  ],
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto text-xl font-thin overflow-hidden ${classes?.container ?? ''}`} bg={bg}>
  <Headline title="What we offer" classes={{title: "font-heading text-secondary font-thin text-5xl"}}/>
  <div class="hidden md:flex flex-col max-w-[856px] mx-auto ">
    <div class="relative flex flex-row place-content-between text-center uppercase">
      <div class="relative w-[48%] mb-[50px] bg-page shadow-md">
        <div class="flex flex-col my-[28px] mr-[20px] ml-[140px]">
          {
            offers1.map((offer, index) => (
              offer && (
                <Fragment>
                  <span class=""><Fragment set:html={offer} /></span>
                  {index !== offers1.length - 1 && (<hr class="mt-[12px] mb-[12px] border-t border-[#24ac8f]"/>)}
                </Fragment>
              )
            ))
          }
        </div>
      </div>
      <div class="relative block w-[48%] mb-[50px] bg-page shadow-md">
        <div class="flex flex-col my-[28px] ml-[20px] mr-[140px]">
          {
            offers2.map((offer, index) => (
              offer && (
                <Fragment>
                  <span class=""><Fragment set:html={offer} /></span>
                  {index !== offers2.length - 1 && (<hr class="mt-[12px] mb-[12px] border-t border-[#24ac8f]"/>)}
                </Fragment>
              )
            ))
          }
        </div>
      </div>
        <div class="absolute block bottom-[20px] left-[-120px]"><Image src={paperTurtle} alt="Paper turtle"></div>
        <div class="absolute block bottom-[45px] right-[-150px]"><Image src={paperBird}  alt="Paper bird"></div>
    </div>
  </div>   
  <div class="md:hidden flex flex-col items-center w-full px-[60px] text-center uppercase">
    {
      [...offers1, ...offers2].map((offer, index) => (
        offer && (
          <Fragment>
            <span class="flex max-w-64 text-wrap"><Fragment set:html={offer} /></span>
            {index !== offers2.length - 1 && (<hr class="w-full mt-[12px] mb-[12px] border-t border-[#eee]"/>)}
          </Fragment>
        )
      ))
    }
  </div>
</WidgetWrapper>
