---
import { languages } from '~/i18n/ui';
import { replacePermalinkLocale } from '~/utils/permalinks';

export interface Props {
  label?: string;
  class?: string;
}

const {
  label = 'Select language',
  class:
    className = 'uppercase text-muted bg-inherit dark:text-gray-400 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center',
} = Astro.props;
---

{
  <select class={className} aria-label={label} data-select-locale>
    {Object.entries(languages).map(([lang, label]) => (
      <option value={replacePermalinkLocale(Astro.url.pathname, lang)} aria-label={label} title={label} selected={lang===Astro.currentLocale}>{lang}</option>
    ))}
  </select>
}
